html{
	background-color: lightgrey;
}

body{
	background-color:white;
	margin: 0 auto;
	margin-top:5px;
	padding:10px;
	width:1000px;
	font-size:24px;
	text-align:center
}
input{
	width: 400px;
	background-color: rgb(230,230,230);
	padding:6px 10px;
	margin: 10px;
	border-radius:4px;
	font-size:20px;
	text-align:center
}
textarea{
	width: 400px;
	height: 100px;
	background-color: rgb(230,230,230);
	padding:6px 10px;
	margin: 10px;
	border-radius:4px;
	font-size:18px;
}
#nav{
	list-style-type: none;
}
#nav li{
	margin:20px;
	padding:10px;
	display:inline;
}
#nav li a{
	text-decoration:none;
	color:rgb(70,70,70);
}
#nav li a:visited{
	color:rgb(70,70,70);
}
.listing{
	margin: 10px 20px;
	box-shadow:0 0 3px grey;
	overflow:auto;
}
.listing span{
	margin: 0 30px;
}
.listing .listingImage{
	max-height:150px;
	float:left;
}
.listing .listingTitle{
	font-size:32px;
	margin-left: 50px;
}
.listing .info{
	list-style-type:none;
}
.alert{
	color:red;
}
.success{
	color:green;
}
#rating{
	width:100px;
}
#ratingNum{
	padding:10px;
}
#mediaOverlay{
	position:fixed;
	width:100%;
	height:100%; 
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
	overflow:auto;
}
#overlayCanvas{
	background-color: rgba(220,220,220);
	width:1000px;
	margin: 0 auto;
}
.hidden{
	display:none;
}
.overlay{
	display:block;

}
.reviewer{
	font-size:30px;
	margin: 5px;
}
.rating{
	font-size:30px;
	margin: 5px;
	margin-left: 20px;
}