html{
	background-color:rgb(255, 252, 243);
}
h1{
	font-size:84px;
}

body{
	margin: 0 auto;
	margin-top:5px;
	padding:10px;
	width:90%;
	font-size:24px;
	text-align:center
}
input{
	width: 400px;
	background-color: rgb(230,230,230);
	padding:6px 10px;
	margin: 10px;
	border-radius:4px;
	font-size:20px;
	text-align:center
}
textarea{
	width: 400px;
	height: 100px;
	background-color: rgb(230,230,230);
	padding:6px 10px;
	margin: 10px;
	border-radius:4px;
	font-size:18px;
}
#nav{
	border-style: solid none;
	border-width: 1px;
	border-color: black;
	list-style-type: none;
	padding: 15px 0;
	whitespace:nowrap;
}
#nav li{
	padding: 5px 30px;
	display:inline-block;
	border-right:1px solid black;
}
#nav li:last-child{
	border-style:none;
}
#nav li a{
	text-decoration:none;
	color:rgb(70,70,70);
}
#nav li a:visited{
	color:rgb(70,70,70);
}
.searchBox{
	height:40px;
	width:80%;
	border-radius: 30px;
	background-color: rgb(255, 252, 243);
}
.searchBox:focus{
	background-color: white;
}
.searchBox:focus::-webkit-input-placeholder { color:transparent; }
.searchBox:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#listings{
	display:flex;
	flex-wrap: wrap;
	width:100%
}
.listing{
	flex: 1 0 25%;
	margin: 10px 20px;
	overflow:auto;
	min-width:500px;
	text-align:left;
}
.listing span{
	margin: 0 30px;
}
.listing .listingType{
	float:right;
}
.listing .listingImage{
	border: 1px solid black;
	max-height:150px;
	float:left;
}
.listing .listingTitle{
	font-size:32px;
}
.listing .listingText{
	list-style-type:none;
	float:left;
}
.listing .listingText li{
}
.alert{
	color:red;
}
.success{
	color:green;
}
#rating{
	width:100px;
}
#ratingNum{
	padding:10px;
}
.hidden{
	display:none !important;
}
.overlay{
	display:block;

}
.reviewer{
	font-size:24px;
	margin: 5px;
}
.rating{
	font-size:24px;
	margin: 5px;
	margin-left: 20px;
}
.reviews .description{
	font-size:18px;
}
.bigMedia{
	text-align:left;
}
.backButton{
	position:-webkit-sticky;
	position:sticky;
	top:2.5vh;
	float:left;
	background-color:rgba(0,0,0,0);
	font-size:60px;
	border:0;
	padding:2.5vw;
	height:100%;
}
.mediaImg{
	float:left;
	margin: 0 15px;
}
.mediaDesc{
	width: 90%;
}
.mediaCopies, .mediaType, .checkoutButton{
	float:right;
	clear:right;
}
.checkoutButton{
	background-color: rgba(240,240,240);
	padding: 10px;
	border-radius: 5px;
	border: 0;
	width: 100px;
}
.reviewSection{
	clear:left;
	margin:50px 10vw;	
	padding:3px 0;
}
.writeReview{
	float:left;
	margin-right:7vw;
}